

  

   <style>
    #pt-4{
      padding-left: 50%;
    }
    #h1{
      font-family: 'Roboto', sans-serif;
    }
    #allNutri, #view-all-meal2{
  display: none;
}
.btn-info{
  color: white;
}
   </style>
   <div class="container-xxl  px-md-5 bg-white shadow-lg">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel"> 
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
      </div>
      <div class="carousel-inner">
        <% if(typeof fiberresult !== 'undefined' ) {%>  
        <div class="carousel-item active">
          <img class="bd-placeholder-img" width="100%" height="500px"  src="/uploads/<%= fiberresult.image %>"  alt="<%=fiberresult.name%>" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect> </img>
          <div class="container">
            <div class="carousel-caption text-start">
              <h1 class="pb-4">Meal-Planner</h1>
              <h4>Dựa vào dữ liệu, bạn nên tiêu thụ <%=data[0].calories%>(Kcal) </h4>  
              <h4>Bạn có thể tham khảo cho bữa sáng</h4>
              <h1><%= fiberresult.name%></h1>
              <p> <%= fiberresult.calories %> Kcal</p>
              <p><a id=<%=fiberresult.id%> class="btn btn-info btn-submit-sang">Thêm</a></p>
            </div>
          </div>
        </div>
        <% } else { %>
          <p>No Item Found</p>
          <% } %>
  
        <% if(typeof protenresult !== 'undefined' ) {%> 
        <div class="carousel-item">
          <img class="bd-placeholder-img" width="100%" height="500px" src="/uploads/<%= protenresult.image %>" alt="<%=protenresult.name%>" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></img>
  
          <div class="container">
            <div class="carousel-caption">
              <h1 class="pb-4">Meal-Planner</h1>
              <h4>Dựa vào dữ liệu, bạn nên tiêu thụ  <%=data[0].calories%>(Kcal)</h4>  
              <h4>Bạn có thể tham khảo cho bữa sáng</h4>
              <h1><%=protenresult.name%></h1>
              <p> <%= protenresult.calories %> Kcal</p>
              <p><a id=<%=protenresult.id%> class="btn btn-info btn-submit-sang">Thêm</a></p>
            </div>
          </div>
        </div>
        <% } else { %>
          <p>No Item Found</p>
          <% } %>
          <% if(typeof Carbresult !== 'undefined' ) {%> 
        <div class="carousel-item">
          <img class="bd-placeholder-img" width="100%" height="500px" src="/uploads/<%= Carbresult.image %>" alt="<%=Carbresult.name%>" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></img>
  
          <div class="container">
            <div class="carousel-caption text-end">
              <h1 class="pb-4">Meal-Planner</h1>
              <h4>Dựa vào dữ liệu, bạn nên tiêu thụ <%=data[0].calories%>(Kcal)</h4>  
              <h4>Bạn có thể tham khảo cho bữa sáng</h4>
              <h1><%= Carbresult.name%></h1>
              <p><%= Carbresult.calories%> Kcal</p>
              <p><a id=<%=Carbresult.id%> class="btn btn-info btn-submit-sang">Thêm</a></p>
            </div>
          </div>
        </div>
        <% } else { %>
          <p>No Item Found</p>
          <% } %>
      </div>   
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>



<!--Trua-->

   <section class="pt-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
      <div class="col-12 mb-4">Các món bạn có thể tham khảo cho bữa trưa 
        <% if (typeof trua !== 'undefined') { %>
          tổng năng lượng cho bữa ăn: <i> <%=trua.totaltrua%> (Kcal)</i>
      <% } %>      
      <button id="btn-add-lunch" value="<%=userID%>/<%=trua.allTruaID%>/<%=chieu.allChieuID%>" class="btn btn-info btn-add-meal" name="idFood">Lưu bữa ăn</button>
        </div>  
    </div>
  <!-- Chatxo -->
    <div class="row row-cols-1 row-cols-md-4 mb-4 text-center">
      <% if(typeof trua.fiberTruaresult !== 'undefined' ) {%>   
      <div class="col text-center category__link">     
      <a href="/recipe/<%= trua.fiberTruaresult._id %> " class="col text-center category__link">
        <div class="category__img category__img--large shadow ">
        <img src="/uploads/<%= trua.fiberTruaresult.image %>" alt="<%=trua.fiberTruaresult.name%>" style="top: 20px; border-radius: 5%;"loading="lazy">
        </div>
      <div class="pt-1"><%= trua.fiberTruaresult.name %></div>
    </a>
   
  </div>
    <% } else { %>
      <p>No Item Found</p>
      <% } %>  
<!-- end chat xo -->

<!-- chatdam -->
      <% if(typeof trua.protenTruaresult !== 'undefined' ) {%>   
        <div class="col text-center category__link ">     
        <a href="/recipe/<%= trua.protenTruaresult.protenTruaresult1._id %> " class="col text-center category__link">
          <div class="category__img category__img--large shadow">
          <img src="/uploads/<%= trua.protenTruaresult.protenTruaresult1.image %>" alt="<%=trua.protenTruaresult.protenTruaresult1.name%>"style="top: 20px; border-radius: 5%;" loading="lazy">
          </div>
        <div class="pt-1"><%= trua.protenTruaresult.protenTruaresult1.name %></div>
      </a>
     
    </div>
      <% } else { %>
        <p>No Item Found</p>
        <% } %>

        <% if(typeof trua.protenTruaresult !== 'undefined' ) {%>   
          <div class="col text-center category__link ">     
          <a href="/recipe/<%= trua.protenTruaresult.protenTruaresult2._id %> " class="col text-center category__link">
            <div class="category__img category__img--large shadow">
            <img src="/uploads/<%= trua.protenTruaresult.protenTruaresult2.image %>" alt="<%=trua.protenTruaresult.protenTruaresult2.name%>"style="top: 20px; border-radius: 5%;" loading="lazy">
            </div>
          <div class="pt-1"><%= trua.protenTruaresult.protenTruaresult2.name %></div>
        </a>
       
      </div>
        <% } else { %>
          <p>No Item Found</p>
          <% } %>
        
        
<!-- end chat dam -->

<!-- tinhbot -->
<% if(typeof trua.CarbTruaresult !== 'undefined' ) {%>   
  <div class="col text-center category__link">     
  <a href="/recipe/<%= trua.CarbTruaresult._id %> " class="col text-center category__link">
    <div class="category__img category__img--large shadow">
    <img src="/uploads/<%= trua.CarbTruaresult.image %>" alt="<%=trua.CarbTruaresult.name%>"style="top: 20px; border-radius: 5%;" loading="lazy">
    </div>
  <div class="pt-1"><%= trua.CarbTruaresult.name %></div>
</a>

</div>
<% } else { %>
  <p>No Item Found</p>
  <% } %>  
<!-- end tinh bot -->
  </div>
  
</section>

<!-- EndTrua -->

<!-- Chieu -->

<section class="pt-4 pt-4">

  <div class="d-flex mb-2 align-items-center">
    <div class="col-12 mb-4">Các món bạn có thể tham khảo cho bữa chiều 
      <% if (typeof chieu !== 'undefined') { %>
        tổng năng lượng cho bữa ăn: <i> <%=chieu.totalChieu%> (Kcal)</i>
    <% } %>
      </div>  
    
  </div>
<!-- Chatxo -->
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <% if(typeof chieu.fiberChieuresult !== 'undefined' ) {%>   
    <div class="col text-center category__link">     
    <a href="/recipe/<%= chieu.fiberChieuresult._id %> " class="col text-center category__link">
      <div class="category__img category__img--large shadow ">
      <img src="/uploads/<%= chieu.fiberChieuresult.image %>" alt="<%=chieu.fiberChieuresult.name%>" style="top: 20px; border-radius: 5%;"loading="lazy">
      </div>
    <div class="pt-1"><%= chieu.fiberChieuresult.name %></div>
  </a>
 
</div>
  <% } else { %>
    <p>No Item Found</p>
    <% } %>  
<!-- end chat xo -->

<!-- chatdam -->
    <% if(typeof chieu.protenChieuresult !== 'undefined' ) {%>   
      <div class="col text-center category__link ">     
      <a href="/recipe/<%= chieu.protenChieuresult.protenChieuresult1._id %> " class="col text-center category__link">
        <div class="category__img category__img--large shadow">
        <img src="/uploads/<%= chieu.protenChieuresult.protenChieuresult1.image %>" alt="<%=chieu.protenChieuresult.protenChieuresult1.name%>"style="top: 20px; border-radius: 5%;" loading="lazy">
        </div>
      <div class="pt-1"><%= chieu.protenChieuresult.protenChieuresult1.name %></div>
    </a>
  
  </div>
    <% } else { %>
      <p>No Item Found</p>
      <% } %>

      
      
<!-- end chat dam -->

<!-- tinhbot -->
<% if(typeof chieu.CarbChieuresult !== 'undefined' ) {%>   
<div class="col text-center category__link">     
<a href="/recipe/<%= chieu.CarbChieuresult._id %> " class="col text-center category__link">
  <div class="category__img category__img--large shadow">
  <img src="/uploads/<%= chieu.CarbChieuresult.image %>" alt="<%=chieu.CarbChieuresult.name%>"style="top: 20px; border-radius: 5%;" loading="lazy">
  </div>
<div class="pt-1"><%= chieu.CarbChieuresult.name %></div>
</a>

</div>
<% } else { %>
<p>No Item Found</p>
<% } %>  
<!-- end tinh bot -->
</div>
</section>
<!-- EndChieu -->
<div class="d-flex mb-2 align-items-center">
  <div class="col-12 mb-4">
    <% if (typeof totalForAll !== 'undefined') { %>
      Tổng năng lượng cho 3 bữa ăn: <i> <%=totalForAll%> (Kcal)</i>
  <% } %>
    </div>  
  </div>

  

<!-- other selection -->

<section>
  <div class="d-flex mb-2 align-items-center">
    <h2>Chọn món khác</h2>
    <a id="view-all2" class="ms-auto">Xem tất cả</a>
  </div> 
</section>
 <section class="pb-4 pt-4" id="view-all-meal2">
    <div class="d-flex mb-2 align-items-center">
      <h2>Tất cả món ăn</i> </h2>  
    </div>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
       <% if(typeof meal !== 'undefined' ) {%> 
        <% meal.forEach(function(meal,index) { %>
          <div  class="col text-center category__link">
        <a href="/recipe/<%=meal._id %> " class="col text-center category__link">
            <div class="category__img category__img--large shadow">
            <img src="/uploads/<%= meal.image %>" alt="<%= meal.name %>" loading="lazy">
            </div>
          <div class="pt-1"><%= meal.name %></div>      
        </a> 
        <div  class="col text-center category__link">
          <button id=<%=meal.id%> class="btn btn-primary btn-submit">Add to meal</button>
          </div>
      </div>
        <% }) %> 
        <% } else { %>
          <p>No Item Found</p>
          <% } %>  
    </div>
  </section>
<!-- end other selection -->
</div>
<script>
  document.getElementById('view-all2').addEventListener('click', (e)=>{
    document.getElementById('view-all-meal2').style.display = 'block';
  })
</script>